@model Exercice4.Models.Product

<ul>
    <li>Nom : @Model.Name</li>
    <li>Description : @Model.Description</li>
    <li>Categorie : @Model.Category</li>
</ul>

<p><a href="/Product/ListProducts">Retoure a la liste</a></p>